body {
    background: url(../images/rana-sawalha.jpg) no-repeat;
    -webkit-background-size: 100%, cover;
                  background-size: cover;
}

.header {
    padding: 18px 75px 18px 81px;
    height: 54px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.header-logo {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.header-logo:hover {
    color: #3cb878;
}

.header-nav {
    display: flex;
}
.header-icons > a {
    display: inline-block;
    margin-right: 28px;
}

.header-login {
    margin-left: 24px;
    position: relative;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    line-height: 23px;
    word-spacing: 2px;
}

.header-login::after {
    content: '';
    width: 1px;
    height: 19px;
    background-color: #302f2e;
    position: absolute;
    left: -24px;
    top: 2px;
}

.header-login > a {
    color: #3cb878;
}

.section {
    height: calc(100vh - 54px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 29px 60px 32px 62px;
    height: 585px;
    width: 445px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.form::before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    left: 0;
    top: 32px;
}

.form-login-header {
    display: flex;
    justify-content: space-between;
}

.form-login-header > p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #434343;
    line-height: 21px;
}

.form-login-header > a {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #3cb878;
    line-height: 21px;
}

.form-login > a {
    margin: 15px 2px;
    padding: 15px 0 15px 48px;
    display: inline-block;
    width: 155px;
    height: 46px;
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 14px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.facebook {
    background-color: #264b96;
}

.facebook span {
    display: block;
    width: 1px;
    height: 28px;
    background-color: #224387;
    position: absolute;
    top: 9px;
    left: 47px;
}

.facebook::before {
    content: '';
    width: 10px;
    height: 20px;
    background-image: url(../images/journey-icons.png);
    background-repeat: no-repeat;
    background-position: -63px -5px;
    position: absolute;
    top: 13px;
    left: 20px;
}

.google {
    background-color: #c3412c;
}

.google span {
    display: block;
    width: 1px;
    height: 28px;
    background-color: #af3a28;
    position: absolute;
    top: 9px;
    left: 47px;
}

.google::before {
    content: '';
    width: 25px;
    height: 16px;
    background-image: url(../images/journey-icons.png);
    background-repeat: no-repeat;
    background-position: -159px -5px;
    position: absolute;
    top: 15px;
    left: 13px;
}

.line {
    margin: 15px 0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #848484;
    text-align: center;
    position: relative;
}

.line::before,
.line::after {
    content: '';
    height: 1px;
    width: 135px;
    position: absolute;
    background-color: #eaeaea;
}

.line::before {
    left: 0;
    top: 50%;
}

.line:after {
    right: 0;
    top: 50%;
}

input {
    padding-left: 18px;
    margin-bottom: 9px;
    width: 100%;
    height: 46px;
    color: #434343;
    border: 1px solid #eaeaea;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.name {
    margin-bottom: 17px;
}

input:hover {
    border: none;
    -webkit-box-shadow: 0 3px 10px #d6d6d6;
       -moz-box-shadow: 0 3px 10px #d6d6d6;
            box-shadow: 0 3px 10px #d6d6d6;
    outline: none;
}

input:focus {
    border: none;
    -webkit-box-shadow: inset -1px -2px 10px #d6d6d6;
       -moz-box-shadow: inset -1px -2px 10px #d6d6d6;
            box-shadow: inset -1px -2px 10px #d6d6d6;
    outline: none;
}

input::placeholder {
    color: #bebebe;
}

.checkbox {
    margin-top: 10px;
    margin-left: 30px;
}

.checkbox > a {
    color: #3cb878;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}


#checkbox {
    display: none;
}

#checkbox + label {
    position: relative;
    height: 20px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    line-height: 20px;
}

#checkbox + label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#checkbox:checked + label::before {
    content: '';
    background: url("../images/checkbox.png") no-repeat center center;
}

.button {
    margin-top: 25px;
    color: #ffffff;
    background-color: #329a65;
}


