.sprite {
    background-image: url(../images/journey-icons.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-calendar {
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
}

.sprite-calendar:hover {
    width: 19px;
    height: 19px;
    background-position: -34px -5px;
}

.sprite-forum {
    width: 28px;
    height: 20px;
    background-position: -83px -5px;
}

.sprite-forum:hover {
    width: 28px;
    height: 20px;
    background-position: -121px -5px;
}

.sprite-journey {
    width: 20px;
    height: 20px;
    background-position: -194px -5px;
}

.sprite-journey:hover {
    width: 20px;
    height: 20px;
    background-position: -224px -5px;
}

.sprite-google {
    width: 25px;
    height: 16px;
    background-position: -159px -5px;
}

.sprite-facebook {
    width: 10px;
    height: 20px;
    background-position: -63px -5px;
}
